/* MESSAGE TOAST */
.customToast {
    visibility: hidden;
    min-width: 250px;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease, bottom 0.4s ease;
    color: white;
  }
  
  .customToast.info {
    background-color: #0070f2;
  }
  
  .customToast.success {
    background-color: #0a7d00;
  }
  
  .customToast.error {
    background-color: #bb0000;
  }
  
  .customToast.show {
    visibility: visible;
    opacity: 1;
    bottom: 60px;
  }
  